{% if champs is defined %}
    <table class="table table-hover">
        <tr>
            <td>
                {{ 'id'|trans }}
            </td>
            <td>
                {{ 'champName'|trans }}
            </td>
            <td>
                {{ 'gameType'|trans }}
            </td>
            <td>
                {{ 'status'|trans }}
            </td>
        </tr>
        {% for champ in champs %}
            <tr onclick="window.location = '/tournament/{{ champ.id }}'" style="cursor:pointer;">
                <td>
                    {{ champ.id }}
                </td>
                <td>
                    {{ champ.name }}
                </td>
                <td>
                    {{ "#{champ.gameType}type"|trans }}
                </td>
                <td>
                    {{ "#{champ.status}status"|trans }}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endif %}