{% extends "@PingPong/Default/index.html.twig" %}
{% block content %}
    {% if players is defined %}
        <div>
        {% include('@PingPong/Default/playersList.html.twig') with {'title': 'playersList'|trans, 'players': players, 'listType': 'solo'} %}
        </div>
    {% endif %}
    {% if games is defined %}
        <div>
            {{ include('@PingPong/Default/gamesList.html.twig') }}
        </div>
    {% endif %}
{% endblock %}