{% extends "@PingPong/Default/index.html.twig" %}
{% form_theme form '@PingPong/Default/formLayout.html.twig' %}
{% set listType = 'tournaments' %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% if champs is defined %}
    <div>
        {{ include('@PingPong/Tournaments/tournamentList.html.twig') }}
    </div>
    {% endif %}
{% endblock %}