{% if games is defined %}
    <h4>{{ 'gamesList'|trans }}</h4>
    <table class="gamesList table table-hover">
        <tr class="titles">{# Titles #}
            <td>
                {{ 'time'|trans }}
            </td>
            <td>
                {{ 'winnerName1'|trans }}
            </td>
            <td>
                {{ 'winnerName2'|trans }}
            </td>
            <td>
                {{ 'loserName1'|trans }}
            </td>
            <td>
                {{ 'loserName2'|trans }}
            </td>
            <td>
                {{ 'ratingChange'|trans }}
            </td>
            <td>
                {{ 'action'|trans }}
            </td>
        </tr>
        {% for game in games %}
            <tr>
                <td>
                    {{ game.time|date("Y-m-d H:i") }}
                </td>
                <td>
                    {{ game.winner1.name }}
                </td>
                <td>
                    {{ game.winner2.name }}
                </td>
                <td>
                    {{ game.loser1.name }}
                </td>
                <td>
                    {{ game.loser2.name }}
                </td>
                <td>
                    {{ game.ratingChange }}
                </td>
                <td>
                    <a class="glyphicon glyphicon-trash" href="/pairs/delete/{{ game.id }}" title="{{ 'delete'|trans }}"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}