{% if games is defined %}
    <h4>{{ 'gamesList'|trans }}</h4>
    <table class="gamesList table table-hover">
        <tr class="titles">{# Titles #}
            <td>
                {{ 'time'|trans }}
            </td>
            <td>
                {{  'id'|trans }}
            </td>
            <td>
                {{ 'winnerName'|trans }}
            </td>
            <td>
                {{ 'loserName'|trans }}
            </td>
            <td>
                {{ 'ratingChange'|trans }}
            </td>
            <td>
                {{ 'Champ'|trans }}
            </td>
            <td>
                {{ 'action'|trans }}
            </td>
        </tr>
        {% for record in games %}
            <tr>
                <td>
                    {{ record.game.time|date("Y-m-d H:i") }}
                </td>
                <td>
                    {{ record.game.id }}
                </td>
                <td>
                    {{ record.game.winner.name }}
                </td>
                <td>
                    {{ record.game.loser.name }}
                </td>
                <td>
                    {{ record.game.ratingChange }}
                </td>
                <td>
                    {% if record.champ is defined and record.champ is not empty %}
                        <a class="glyphicon glyphicon-tower" ></a> {{ record.champ }}
                    {% endif %}
                </td>
                <td>
                    <a class="glyphicon glyphicon-trash" href="/solo/delete/{{ record.game.id }}" title="{{ 'delete'|trans }}"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}