{% extends "@PingPong/Default/main.html.twig" %}

{% block body %}
    {{ include('@PingPong/Default/menu.html.twig') }}
    {{ include('@PingPong/Default/messages.html.twig') }}
    {% block content %}
    {% endblock %}
    {% javascripts '@jquery' '@bootstrap_js' '@pingpong'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block scripts %}
    {% endblock %}
{% endblock %}