{% set route = app.request.attributes.get('_route') %}
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="menu_navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if route == 'ping_pong_solo' %} class="active"{% endif %}>
                    <a href="/solo/">{{ 'Solo'|trans }}</a>
                </li>
                <li {% if route == 'ping_pong_pairs' %} class="active"{% endif %}>
                    <a href="/pairs/">{{ 'Pairs'|trans }}</a>
                </li>
                <li {% if route == 'ping_pong_tournament' or route == 'ping_pong_tournament_view' %} class="active"{% endif %}>
                    <a href="/tournament/">{{ 'Tournaments'|trans }}</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>