{% if players is defined and listType is defined %}
    {% set count = 0 %}
    <div class="row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
            <h4><a href="/{{ listType }}/recount/" class="glyphicon glyphicon-retweet" title="{{ 'recount'|trans }}"></a></h4>
        </div>
    </div>

    <table class="playerList table table-hover">
        <tr class="titles">{# Titles #}
            <td>
                {{ 'place'|trans }}
            </td>
            <td>
                {{ 'playerName'|trans }}
            </td>
            <td>
                {{ 'playerRating'|trans }}
            </td>
            <td>
                {{ 'playerGames'|trans }}
            </td>
            <td>
                {{ 'playerWins'|trans }}
            </td>
            <td>
                {{ 'playerLoses'|trans }}
            </td>
            <td>
                {{ 'winRatio'|trans }}
            </td>
        </tr>

        {% for playerInfo in players %}
            {% set count = count + 1 %}
            <tr {% if count == 1 %}class="success"{% endif %}>
                <td>
                    {% if playerInfo['gGames'] != 0%}
                    {{ count }}
                    {% endif %}
                </td>
                <td>
                    {{ playerInfo['gPlayer'].name }}
                </td>
                <td>
                    {% if listType == 'solo' %}
                        {{ playerInfo['gPlayer'].ratingSolo }}
                    {% else %}
                        {{ playerInfo['gPlayer'].ratingPairs }}
                    {% endif %}
                </td>
                <td>
                    {{ playerInfo['gGames'] }}
                </td>
                <td>
                    {{ playerInfo['gWins'] }}
                </td>
                <td>
                    {{ playerInfo['gGames'] - playerInfo['gWins'] }}
                </td>
                <td>
                    {% if playerInfo['gGames'] > 0 %}
                        {{ (playerInfo['gWins'] / playerInfo['gGames'] * 100)|round(2)|default(0) }}%
                    {% else %}
                        {{ 0 }}%
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}