{% extends "@PingPong/Default/index.html.twig" %}
{% form_theme form '@PingPong/Default/formLayout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div id="exTab2">
                <ul class="nav nav-tabs">
                    {% if players is defined %}
                        <li class="active">
                            <a  href="#1" data-toggle="tab">
                                <i class="glyphicon glyphicon-align-justify"></i> {{ 'playersList'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if playersGuests is defined %}
                        <li>
                            <a href="#2" data-toggle="tab">
                                <i class="glyphicon glyphicon-align-left"></i> {{ 'playersGuestsList'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#3" data-toggle="tab">
                            <i class="glyphicon glyphicon-plus"></i> {{ 'register new game'|trans }}
                        </a>
                    </li>
                </ul>

                <div class="tab-content ">
                    {% if players is defined %}
                        <div class="tab-pane active" id="1">
                            {% include('@PingPong/Default/playersList.html.twig') with {'players': players, 'listType': 'solo'} %}
                        </div>
                    {% endif %}
                    {% if playersGuests is defined %}
                        <div class="tab-pane" id="2">
                            {% include('@PingPong/Default/playersList.html.twig') with {'players': playersGuests, 'listType': 'solo'} %}
                        </div>
                    {% endif %}
                    <div class="tab-pane" id="3">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-lg-6">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if games is defined %}
            <div>
                {{ include('@PingPong/Default/gamesList.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    {% include('@PingPong/Default/javascriptData.html.twig') with {'playerNames': playerNames} %}
{% endblock %}